{% extends "layout.html" %}

{% block style %}


	h1{
		margin:0 auto;
		margin-top:10%;
		padding: 3% 3%;
		text-align:center;
		text-transform:uppercase;
		color:rgba(40,57,101,.9);
		font:600 30px/18px 'Open Sans',sans-serif;
	}
	
	h2{
		margin:0 auto;
		text-align:center;
		text-transform:uppercase;
		color:white;
		font:600 20px/18px 'Open Sans',sans-serif;
	}
	


	
{% endblock %}


{% block body %}
  <h1>Page Not Found</h1>
  <h2>What you were looking for is just not there.</h2>
{% endblock %}